<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>HighTech - IT Solutions Website Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Saira:wght@500;600;700&display=swap" rel="stylesheet">

  <!-- Icon Font Stylesheet -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

  <!-- Libraries Stylesheet -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js" rel="stylesheet">

  <!-- Customized Bootstrap Stylesheet -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">

  <!-- Template Stylesheet -->
  <link href="style.css" rel="stylesheet">
</head>

<body>
<!-- Spinner Start -->
<!-- Spinner End -->

<!-- Topbar Start -->
<div class="container-fluid bg-dark py-2 d-none d-md-flex">
  <div class="container">
    <div class="d-flex justify-content-between topbar">
      <div class="top-info">
        <small class="me-3 text-white-50"><a href="#"><i class="fas fa-map-marker-alt me-2 text-secondary"></i></a>08 Dinh Bat Tuy, Vinh, Vietnam</small>
        <small class="me-3 text-white-50"><a href="#"><i class="fas fa-envelope me-2 text-secondary"></i></a>Email@Example.com</small>
      </div>
      <div id="note" class="text-secondary d-none d-xl-flex"><small>Note : We help you to Grow your Business</small></div>
    </div>
  </div>
</div>
<!-- Topbar End -->

<!-- Navbar Start -->
<div class="container-fluid bg-primary">
  <div class="container">
    <nav class="navbar navbar-dark navbar-expand-lg py-0">
      <%=image_tag"logosonant.jpg", style: "width:50px;height:50px"%> &ensp;
      <h1 class="text-white fw-bold d-block">Sonant</h1>
      <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse bg-transparent" id="navbarCollapse">
        <div class="navbar-nav ms-auto mx-xl-auto p-0">
          <%=link_to "Home", root_path, class: 'nav-link' %>
          <%=link_to "About", about_path, class: 'nav-link' %>
          <%=link_to "Services", service_path, class: 'nav-link' %>
          <%=link_to "Jobs", jobs_path, class: 'nav-link' %>
          <%=link_to "Contact", contacts_path, class: 'nav-link' %>

        </div>
      </div>
      <div class="d-none d-xl-flex flex-shirink-0">
        <div id="phone-tada" class="d-flex align-items-center justify-content-center me-4">
          <a href="" class="position-relative animated tada infinite">
            <i class="fa fa-phone-alt text-white fa-2x"></i>
            <div class="position-absolute" style="top: -7px; left: 20px;">
              <span><i class="fa fa-comment-dots text-secondary"></i></span>
            </div>
          </a>
        </div>
        <div class="d-flex flex-column pe-4 border-end">
          <span class="text-white-50">Have any questions?</span>
          <span class="text-secondary text-white-50">Call: + +16156678565</span>
        </div>
        <div class="d-flex align-items-center justify-content-center ms-4 ">
          <a href="#"><i class="bi bi-search text-white fa-2x"></i> </a>
        </div>
      </div>
    </nav>
  </div>
</div>
<!-- Navbar End -->

<!-- About Start -->
<div class="container-fluid my-5">
  <div class="container py-5">
    <div class="row g-5">
        <div class="h-100 position-relative">
      <h2><strong></strong>Position: Jr VoIP Engineer</h2>
          <br>
      <strong>About Us:</strong>
      <p>Sonant Consulting Group is a development group based in Vinh, Vietnam. We work with international clients who have difficulties implementing VoIP. Typically we work with small ISP/ITSPs, Inbound Call Centers, Property Management companies, etc. An array of customers all with unique telecom-related problems to be solved.</p>
      <strong>Responsibilities:</strong>
        <br>
          <p>	&thinsp;&thinsp;	&thinsp;	&thinsp;&bull;	&thinsp;Extend clients' VoIP systems with new features.</p>
          <p>	&thinsp;&thinsp;	&thinsp;	&thinsp;&bull;	&thinsp;Troubleshoot issues with existing VoIP systems.</p>
          <p>	&thinsp;&thinsp;	&thinsp;	&thinsp;&bull;	&thinsp;Build monitoring systems around client infrastructure to improve visibility / response time.</p>
          <p>	&thinsp;&thinsp;	&thinsp;	&thinsp;&bull;	&thinsp;Large projects -- build new systems to solve specific needs for clients. (Call Centers, Hotel Phone Systems, Voicemail portals, Messaging, Fax, etc)</p>
          <strong>Qualifications:</strong>
          <p>	&thinsp;&thinsp;	&thinsp;	&thinsp;&bull;	&thinsp;Development experience with systems programming languages such as Golang, C/C++, Zig, Rust, etc.</p>
          <p>	&thinsp;&thinsp;	&thinsp;	&thinsp;&bull;	&thinsp;Proficiency in open-source VoIP technologies like Asterisk, FreeSwitch, OpenSIPs / Kamailio.</p>
          <p>	&thinsp;&thinsp;	&thinsp;	&thinsp;&bull;	&thinsp;Decent understanding of Linux and Networking.</p>
          <p>	&thinsp;&thinsp;	&thinsp;	&thinsp;&bull;	&thinsp;Basic English language skills.</p>
          <strong>Benefits:</strong>
          <br>
          <strong>&thinsp;&thinsp;	&thinsp;	&thinsp;&bull;	&thinsp;Salary:10,000,000-20,000,000 VND after social insurance.</strong>
          <p>&thinsp;&thinsp;	&thinsp;	&thinsp;&bull;	&thinsp;13th month bonus for Tết. After probation period, very flexible on office hours / vacation time / mental health time -- as long as work is getting done.</p>

          <br>
          <div class="actions">
              <%=link_to "Send an application ", new_userapply_path, class: "btn btn-primary text-white px-5 py-3 rounded-pill" %>
            </div>
        </div>
    </div>
  </div>
</div>

<!-- About End -->
<!-- Footer Start -->
<div class="container-fluid footer bg-dark wow fadeIn" data-wow-delay=".3s">
  <div class="container pt-5 pb-4">
    <div class="row g-5">
      <div class="col-lg-3 col-md-6">
        <%=link_to "", root_path, class: 'nav-link' %>
          <h1 class="text-white fw-bold d-block">Sonant</h1>

        <p class="mt-4 text-light">Sonant Consulting Group works with international clients who have difficulties implementing VoIP. An array of customers all with unique telecom-related problems to be solved</p>
      </div>
      <div class="col-lg-3 col-md-6">

      </div>
      <div class="col-lg-3 col-md-6">
        <a href="#" class="h3 text-secondary"></a>
        <div class="mt-4 d-flex flex-column help-link">

        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <%=link_to" Contact Us", contacts_path, class: "h3 text-secondary"%>
        <div class="text-white mt-4 d-flex flex-column contact-link">
          <a href="#" class="pb-3 text-light border-bottom border-primary"><i class="fas fa-map-marker-alt text-secondary me-2"></i> 08 Dinh Bat Tuy, Vinh, Vietnam</a>
          <a href="#" class="py-3 text-light border-bottom border-primary"><i class="fas fa-phone-alt text-secondary me-2"></i>  +16156678565</a>
          <a href="#" class="py-3 text-light border-bottom border-primary"><i class="fas fa-envelope text-secondary me-2"></i> info@exmple.con</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer End -->


  <!-- Back to Top -->
  <a href="#" class="btn btn-secondary btn-square rounded-circle back-to-top"><i class="fa fa-arrow-up text-white"></i></a>


  <!-- JavaScript Libraries -->

  <!-- JavaScript Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="lhttps://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

  <!-- Template Javascript -->
  <script src="javascript/application.js"></script>
</div>
</body>

</html>
